
.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 77px;
}

.hi{
    font-size: 70px;
    color: #FFC107;
}

.hello{
    color: #FFF0CE;
    font-size: 30px;
}

.subhead{
    color: white;
}

.buy{
    font-size: 35px;
  }

.helloo{
    font-size: 23px;
}

